@tailwind components;

@layer components {
  :root {
    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 0rem;
  }

  body,
  * {
    font-family: sans-serif;
    @apply dark:text-white;
  }

  ol {
    @apply list-decimal pl-4;
    li {
      @apply p-1 text-xs;
    }
  }

  main {
    @apply bg-white pt-[calc(10vh)] dark:bg-slate-800;
  }
}

/* Image */
.image-wrapper {
  @apply h-[64px] w-[64px] overflow-hidden rounded-sm bg-white p-1;

  img {
    @apply h-fit w-fit;
  }
}

/* Spinner */
.loader {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #fff 94%, #0000) top/3px 3px no-repeat,
    conic-gradient(#0000 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.circle {
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  margin: auto;
  &.animate-pulse {
    animation: pulse 1.5s infinite ease-in-out;
  }
  @apply md:h-[calc(30vw)] md:w-[calc(30vw)];
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: blue;
  }
  50% {
    transform: scale(1.2); /* Aumenta la dimensione */
    background-color: red; /* Cambia colore a rosso */
  }
  100% {
    transform: scale(1); /* Torna alla dimensione originale */
    background-color: blue; /* Torna al colore iniziale */
  }
}
